@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #b99d9d;
  color: #ffffff;
  background-image: url(../img/pexels-valeria-boltneva-1484516\ \(1\).jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-size: 4rem;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.header .logoo {
  margin: 7px;
  width: 120px;
  height: 90px;
  border-radius: 16px;
}
.header ul {
  margin: 7px;
  display: flex;
  padding: 0;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
}
.header ul li {
  padding: 5px;
}
.header ul li a {
  text-decoration: none;
  color: #fff;
}
.header ul li a:hover {
  color: rgb(5, 13, 244);
}
.header button {
  border: 0;
  background-image: linear-gradient(150deg, #9599ff, #09f, #00DDFF);
  border-radius: 8px;
  color: #fff;
  display: flex;
  font-size: 18px;
  padding: 4px;
  cursor: pointer;
  transition: 0.3s;
}
.header button span {
  font-size: 15px;
  background-color: #111;
  padding: 16px 24px;
  border-radius: 6px;
  transition: 0.3s;
}
.header button span:hover {
  background: none;
}
.header button:active {
  transform: scale(0.9);
}

ul {
  margin: 7px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}
ul li {
  padding: 5px;
}
ul li a {
  text-decoration: none;
  color: #fff;
}
ul li a:hover {
  color: rgb(5, 13, 244);
}

button {
  border: 0;
  background-image: linear-gradient(150deg, #9599ff, #09f, #00DDFF);
  border-radius: 8px;
  color: #fff;
  display: flex;
  font-size: 18px;
  padding: 4px;
  cursor: pointer;
  transition: 0.3s;
}
button span {
  font-size: 15px;
  background-color: #111;
  padding: 16px 24px;
  border-radius: 6px;
  transition: 0.3s;
}
button span:hover {
  background: none;
}
button:active {
  transform: scale(0.9);
}

h1 {
  text-align: center;
}

.contenido_principal1 {
  display: flex;
  justify-content: center;
  justify-content: space-around;
}
.contenido_principal1 .conte1 {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  align-items: center;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  transition: all 400ms ease;
  margin-bottom: 100px;
}
.contenido_principal1 .conte1 figure {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border-radius: 10px;
}
.contenido_principal1 .conte1 figure img {
  transition: all 500ms ease-out;
}
.contenido_principal1 .conte1 figure .capa {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(14, 21, 22, 0.5);
  transition: all 500ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
}
.contenido_principal1 .conte1 figure .capa .h2 {
  color: #fff;
  transition: all 500ms ease-out;
  margin-bottom: 20px;
  margin-top: 10px;
}
.contenido_principal1 .conte1 figure .capa p {
  color: #fff;
  font-size: 15px;
  line-height: 1.5;
  max-width: 220px;
  margin: auto;
}
.contenido_principal1 .conte1 figure:hover > .capa {
  opacity: 1;
  visibility: visible;
}
.contenido_principal1 .conte1 figure:hover > .capa h3 {
  margin-top: 70px;
  margin-bottom: 15px;
}
.contenido_principal1 .conte1 .fotos {
  width: 670px;
  height: 350px;
  border-radius: 10px;
}
.contenido_principal1 .conte_titulo {
  margin-top: 40px;
}
.contenido_principal1 .conte_titulo div p {
  text-align: center;
}
.contenido_principal1 .conte_titulo .titu2 {
  font-size: 2.5rem;
  margin-bottom: 150px;
  text-align: center;
}
.contenido_principal1 .reserva {
  display: flex;
  justify-content: center;
}

.margin {
  margin-top: 40px;
}
.margin .modoft {
  display: flex;
  align-items: center;
}
.margin .modoft img {
  border-radius: 14px;
}
.margin .titulos {
  color: #fff;
}
.margin .modo {
  margin: 10px;
  display: flex;
  justify-content: space-around;
  background-color: #fff;
  border-radius: 6px;
  cursor: default;
}
.margin .modo .menumodo {
  line-height: 20px;
}
.margin .bajo {
  margin-bottom: 50px;
}

.titulos {
  color: rgb(255, 255, 255);
}
.titulos:hover {
  transform: skew(5deg, 5deg);
}

.modoft1 {
  margin-top: 0;
}

.modo {
  margin: 30px;
  display: flex;
  justify-content: space-around;
  background-color: #fff;
  border-radius: 6px;
  cursor: default;
  color: black;
}
.modo .menumodo {
  line-height: 20px;
}
.modo .menumodo .elemento {
  transition: all 400ms ease;
}
.modo .menumodo .elemento:hover {
  transform: translatey(5%);
  background-color: rgba(80, 99, 185, 0.7450980392);
  border: 8px;
}

.flex {
  display: flex;
  justify-content: space-around;
}
.flex .flex2 {
  display: flex;
}

.nosotros {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}
.nosotros .tarjetas {
  display: flex;
  max-width: 1100px;
}
.nosotros .tarjetas .card {
  margin: 20px;
  border-radius: 6px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  transition: all 400ms ease;
}
.nosotros .tarjetas .card:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.6);
  transform: translatey(-5%);
}
.nosotros .tarjetas .card .contenido1 {
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  text-align: center;
}
.nosotros .tarjetas .card .contenido1 p {
  line-height: 2;
  text-align: center;
}

h3 {
  text-align: center;
  margin-bottom: 15px;
}

.compra {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
.compra .conteflex {
  background-color: rgba(0, 0, 0, 0.781);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  grid-column-gap: 50px;
}
.compra .conteflex .imgcomi {
  width: 200px;
  height: 170px;
  border-radius: 10px;
}
.compra .conteflex .caracproducto, .compra .conteflex .caracproducto--masmenos {
  display: flex;
  flex-direction: column;
}
.compra .conteflex .caracproducto--masmenos {
  margin: 30%;
  display: flex;
  flex-direction: row;
}

p {
  margin: 2;
}

.boton-1 {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}
.boton-1 .carac-bt {
  margin-left: 40px;
  text-decoration: none;
  background-color: #e1ad12;
  color: rgb(15, 15, 15);
  padding: 10px 20px;
  border-radius: 20px;
  transition: all 0.3s ease;
}
.boton-1 .carac-bt:hover {
  background-color: #ffc000;
  color: black;
  box-shadow: 0 0 5px #ffc000, 0 0 5px #ffc000, 0 0 5px #ffc000, 0 0 5px #ffc000;
}

footer {
  display: flex;
  justify-content: space-around;
  background: linear-gradient(rgba(65, 62, 62, 0.589), black);
}
footer div {
  color: black;
  background: rgba(255, 255, 255, 0.2392156863);
  border-radius: 10px;
  box-shadow: 0px 1px 10px rgba(155, 143, 143, 0.2);
  transition: all 400ms ease;
}
footer div p {
  margin-top: 10px;
  text-align: center;
}
footer div .RESTAURANTS {
  font-size: 1.2rem;
}
footer div:hover {
  box-shadow: 5px 5px 20px rgba(247, 239, 239, 0.6);
  transform: translatey(-5%);
}

/*footer paginas chicas*/
@media screen and (max-width: 750px) {
  body {
    width: 100%;
  }
  .main {
    background-image: url(../img/pared_vuelta.png);
    background-size: cover;
  }
  .main2 {
    background-image: url(../img/media.jpg);
    background-size: cover;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
  }
  ul li {
    padding: 5px;
  }
  button {
    border-radius: 4px;
    font-size: 6px;
    padding: 2px;
  }
  button span {
    padding: 5px 10px;
    border-radius: 3px;
  }
  .header {
    font-size: 75%;
  }
  .header .logoo {
    width: 100px;
    height: 80px;
  }
  h1 {
    font-size: 2rem;
  }
  .contenido_principal1 {
    display: flex;
    flex-direction: column;
  }
  .contenido_principal1 .conte1 {
    margin-bottom: 10px;
  }
  .contenido_principal1 .conte1 .fotos {
    width: 325px;
    height: 200px;
  }
  .contenido_principal1 .conte_titulo {
    display: flex;
    flex-direction: column;
    justify-content: none;
    background: linear-gradient(rgba(0, 0, 0, 0.24), rgba(0, 0, 0, 0.63));
  }
  .contenido_principal1 .conte_titulo .titu2 {
    margin-top: 20px;
    text-align: center;
    font-size: 0.7rem;
    margin-bottom: 20px;
  }
  .contenido_principal1 .conte_titulo .titu2 .tamaño p {
    font-size: 10px;
  }
  .boton-1 {
    align-items: center;
    margin-top: 15px;
    margin-bottom: 10px;
    justify-content: space-around;
  }
  .boton-1 .carac-bt {
    margin-left: 0px;
  }
  /*Footer*/
  footer div P {
    font-size: 10px;
    line-height: 10px;
  }
  footer div .RESTAURANTS {
    font-size: 0.7rem;
  }
  /*MENU*/
  h2 {
    text-align: center;
  }
  .modoft img {
    padding-left: 60px;
  }
  /*carrito*/
  .compra {
    margin-top: 0px;
    flex-direction: column;
  }
  .compra .conteflex .imgcomi {
    width: 150px;
    height: 100px;
    border-radius: 10px;
  }
}/*# sourceMappingURL=style.css.map */