@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #b99d9d;
  color: black;
  background-color: #ffffff;
}

h1 {
  font-size: 4rem;
}

.header {
  display: flex;
  justify-content: center;
  background: linear-gradient(black, rgb(255, 255, 255));
  flex-wrap: wrap;
  /*color azul lindo 0A4D68*/
}
.header .logoo {
  margin: 7px;
  width: 120px;
  height: 90px;
  border-radius: 16px;
}
.header ul {
  margin: 7px;
  display: flex;
  padding: 0;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
}
.header ul li {
  padding: 5px;
}
.header ul li a {
  text-decoration: none;
  color: #fff;
}
.header ul li a:hover {
  color: rgb(5, 13, 244);
}
.header button {
  border: 0;
  background-image: linear-gradient(150deg, #9599ff, #09f, #00DDFF);
  border-radius: 8px;
  color: #fff;
  display: flex;
  font-size: 18px;
  padding: 4px;
  cursor: pointer;
  transition: 0.3s;
}
.header button span {
  font-size: 15px;
  background-color: #111;
  padding: 16px 24px;
  border-radius: 6px;
  transition: 0.3s;
}
.header button span:hover {
  background: none;
}
.header button:active {
  transform: scale(0.9);
}

ul {
  margin: 7px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}
ul li {
  padding: 5px;
}
ul li a {
  text-decoration: none;
  color: #fff;
}
ul li a:hover {
  color: rgb(5, 13, 244);
}

button {
  border: 0;
  background-image: linear-gradient(150deg, #9599ff, #09f, #00DDFF);
  border-radius: 8px;
  color: #fff;
  display: flex;
  font-size: 18px;
  padding: 4px;
  cursor: pointer;
  transition: 0.3s;
}
button span {
  font-size: 15px;
  background-color: #111;
  padding: 16px 24px;
  border-radius: 6px;
  transition: 0.3s;
}
button span:hover {
  background: none;
}
button:active {
  transform: scale(0.9);
}

h1 {
  text-align: center;
}

.one {
  background: linear-gradient(white, rgba(83, 144, 160, 0.712), white);
}

.contenido_principal1 {
  display: flex;
  justify-content: center;
  justify-content: space-around;
}
.contenido_principal1 .conte1 {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  align-items: center;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  transition: all 400ms ease;
  margin-bottom: 50px;
}
.contenido_principal1 .conte1 figure {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border-radius: 10px;
}
.contenido_principal1 .conte1 figure img {
  transition: all 500ms ease-out;
}
.contenido_principal1 .conte1 figure .capa {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(14, 21, 22, 0.5);
  transition: all 500ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
}
.contenido_principal1 .conte1 figure .capa .h2 {
  color: #fff;
  transition: all 500ms ease-out;
  margin-bottom: 20px;
  margin-top: 10px;
}
.contenido_principal1 .conte1 figure .capa p {
  color: #fff;
  font-size: 15px;
  line-height: 1.5;
  max-width: 220px;
  margin: auto;
}
.contenido_principal1 .conte1 figure:hover > .capa {
  opacity: 1;
  visibility: visible;
}
.contenido_principal1 .conte1 figure:hover > .capa h3 {
  margin-top: 70px;
  margin-bottom: 15px;
}
.contenido_principal1 .conte1 .fotos {
  width: 670px;
  height: 350px;
  border-radius: 10px;
}
.contenido_principal1 .conte_titulo {
  margin-top: 40px;
}
.contenido_principal1 .conte_titulo div p {
  text-align: center;
}
.contenido_principal1 .conte_titulo .titu2 {
  font-size: 2.5rem;
  margin-bottom: 150px;
  text-align: center;
}

h2 {
  text-align: center;
  margin-bottom: 50px;
}

.contenidosegundo {
  display: flex;
  justify-content: center;
  color: black;
}
.contenidosegundo:nth-child(1) div {
  text-align: center;
  margin-right: 50px;
  margin-left: 50px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.contenidosegundo:nth-child(1) div h3 {
  background-color: rgba(83, 144, 160, 0.712);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.contenidosegundo {
  display: flex;
  justify-content: center;
  color: black;
}
.contenidosegundo:nth-child(2) div {
  text-align: center;
  margin-right: 50px;
  margin-left: 50px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.contenidosegundo:nth-child(2) div h3 {
  background-color: rgba(83, 144, 160, 0.712);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.contenidosegundo {
  display: flex;
  justify-content: center;
  color: black;
}
.contenidosegundo:nth-child(3) div {
  text-align: center;
  margin-right: 50px;
  margin-left: 50px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.contenidosegundo:nth-child(3) div h3 {
  background-color: rgba(83, 144, 160, 0.712);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.contenidosegundo {
  display: flex;
  justify-content: center;
  color: black;
}
.contenidosegundo:nth-child(4) div {
  text-align: center;
  margin-right: 50px;
  margin-left: 50px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.contenidosegundo:nth-child(4) div h3 {
  background-color: rgba(83, 144, 160, 0.712);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.contenidosegundo {
  display: flex;
  justify-content: center;
  color: black;
}
.contenidosegundo:nth-child(5) div {
  text-align: center;
  margin-right: 50px;
  margin-left: 50px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.contenidosegundo:nth-child(5) div h3 {
  background-color: rgba(83, 144, 160, 0.712);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.antes, .ahora {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 80px;
  margin: 80px 50px 50px 50px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  align-items: center;
  text-align: center;
  color: #b97425;
  background-color: rgba(250, 235, 215, 0.692);
}
.antes div h3, .ahora div h3 {
  color: black;
  margin-bottom: 30px;
}
.antes .antesft, .ahora .antesft {
  margin-right: 100px;
  border-radius: 10px;
}

.ahora .despuesft {
  margin-left: 100px;
  border-radius: 10px;
}

.history {
  margin-top: 50px;
}

.titucomi {
  text-align: center;
  margin: 50px;
}

.entrad {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
.entrad .tarjetacomi {
  background-color: #fff;
  color: #000000;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0px 1px 10px rgba(155, 143, 143, 0.2);
}
.entrad .tarjetacomi img {
  border-radius: 10px;
}
.entrad .tarjetacomi .nombre_precio, .entrad .tarjetacomi .precio_comprar {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.entrad .tarjetacomi .nombre_precio p, .entrad .tarjetacomi .precio_comprar p {
  font-size: 15px;
}
.entrad .altoft {
  height: 280px;
  width: 420px;
}

.fin {
  margin-bottom: 80px;
}

.nosotros {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}
.nosotros .tarjetas {
  display: flex;
  max-width: 1100px;
}
.nosotros .tarjetas .card {
  margin: 20px;
  border-radius: 6px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  transition: all 400ms ease;
}
.nosotros .tarjetas .card:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.6);
  transform: translatey(-5%);
}
.nosotros .tarjetas .card .contenido1 {
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  text-align: center;
}
.nosotros .tarjetas .card .contenido1 p {
  line-height: 2;
  text-align: center;
}

h3 {
  text-align: center;
  margin-bottom: 15px;
}

.compra {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
.compra .conteflex {
  background-color: rgba(0, 0, 0, 0.781);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  grid-column-gap: 50px;
}
.compra .conteflex .imgcomi {
  width: 200px;
  height: 170px;
  border-radius: 10px;
}
.compra .conteflex .caracproducto {
  display: flex;
  flex-direction: column;
}

.ini {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.ini .form {
  width: 400px;
  height: 340px;
  background-color: #4e4d4d;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 300px;
  box-shadow: 7px 13px 37px #000;
  padding: 20px 30px;
  border-top: 4px solid #017bab;
  color: white;
}
.ini .form a {
  color: white;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
.ini .form a:hover {
  text-decoration: underline;
}
.ini .form p {
  height: 40px;
  text-align: center;
  border-bottom: 1px solid;
}
.ini .form .h1 {
  margin: 0;
  text-align: center;
  height: 40px;
  margin-bottom: 30px;
  border-bottom: 1px solid;
  font-size: 20px;
}
.ini .form .control {
  width: 100%;
  border: 1px solid #017bab;
  margin-bottom: 15px;
  padding: 11px 10px;
  background: #252323;
  font-size: 14px;
  font-weight: bold;
  border-radius: 6px;
}
.ini .form .button {
  width: 100%;
  height: 40px;
  background: #017bab;
  border: none;
  color: white;
  border-radius: 6px;
  margin-bottom: 16px;
}

.boton-1 {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.boton-1 .carac-bt {
  margin-left: 40px;
  text-decoration: none;
  background-color: #e1ad12;
  color: rgb(15, 15, 15);
  padding: 10px 20px;
  border-radius: 20px;
  transition: all 0.3s ease;
}
.boton-1 .carac-bt:hover {
  background-color: #ffc000;
  color: black;
  box-shadow: 0 0 5px #ffc000, 0 0 5px #ffc000, 0 0 5px #ffc000, 0 0 5px #ffc000;
}

footer {
  display: flex;
  justify-content: space-around;
  background: linear-gradient(rgba(255, 255, 255, 0.404), black);
}
footer div {
  color: black;
  background: rgba(172, 112, 22, 0.2392156863);
  border-radius: 10px;
  box-shadow: 0px 1px 10px rgba(155, 143, 143, 0.2);
  transition: all 400ms ease;
}
footer div p {
  margin-top: 10px;
  text-align: center;
}
footer div .RESTAURANTS {
  font-size: 1.2rem;
}
footer div:hover {
  box-shadow: 5px 5px 20px rgba(247, 239, 239, 0.6);
  transform: translatey(-5%);
}

/*footer paginas chicas*/
@media screen and (max-width: 750px) {
  body {
    width: 100%;
  }
  .main2 {
    background-image: url(../img/media.jpg);
    background-size: cover;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
  }
  ul li {
    padding: 5px;
  }
  button {
    border-radius: 4px;
    font-size: 6px;
    padding: 2px;
  }
  button span {
    padding: 5px 10px;
    border-radius: 3px;
  }
  .header {
    font-size: 75%;
  }
  .header .logoo {
    width: 100px;
    height: 80px;
  }
  h1 {
    font-size: 2rem;
  }
  .contenido_principal1 {
    display: flex;
    flex-direction: column;
  }
  .contenido_principal1 .conte1 {
    margin-bottom: 10px;
  }
  .contenido_principal1 .conte1 .fotos {
    width: 320px;
    height: 200px;
  }
  .contenido_principal1 .conte_titulo {
    display: flex;
    flex-direction: column;
    justify-content: none;
  }
  .contenido_principal1 .conte_titulo .titu2 {
    margin-top: 20px;
    text-align: center;
    font-size: 0.7rem;
    margin-bottom: 20px;
  }
  .contenido_principal1 .conte_titulo .titu2 .tamaño p {
    font-size: 10px;
  }
  h2 {
    margin-top: 50px;
  }
  .contenidosegundo {
    display: flex;
    flex-direction: column;
  }
  .contenidosegundo div {
    margin-bottom: 20px;
  }
  .contenidosegundo div .imgantesahora {
    width: 150px;
  }
  .antes, .ahora {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
  }
  .antes .antesft, .ahora .antesft {
    justify-content: center;
    margin-right: 0px;
    margin-bottom: 30px;
    width: 222px;
  }
  .ahora {
    display: flex;
    flex-direction: column-reverse;
  }
  .ahora .despuesft {
    margin: 0;
    width: 222px;
  }
  .boton-1 {
    align-items: center;
    margin-top: 15px;
    margin-bottom: 10px;
    justify-content: space-around;
  }
  .boton-1 .carac-bt {
    margin-left: 0px;
  }
  /*Footer*/
  footer div P {
    font-size: 10px;
    line-height: 10px;
  }
  footer div .RESTAURANTS {
    font-size: 0.7rem;
  }
  /*MENU*/
  h2 {
    text-align: center;
  }
  .modoft img {
    padding-left: 60px;
  }
  /*carrito*/
  .compra {
    margin-top: 0px;
    flex-direction: column;
  }
  .compra .conteflex {
    border: 1px solid;
  }
  .compra .conteflex .imgcomi {
    width: 150px;
    height: 100px;
    border-radius: 10px;
  }
  .entrad .tarjetacomi {
    margin-top: 33px;
  }
  .entrad .tarjetacomi .altoft {
    height: 166px;
    width: 250px;
  }
}/*# sourceMappingURL=style.css.map */