footer{
    display: flex;
    justify-content: space-around;
    background:linear-gradient(rgba(255, 255, 255, 0.404),black) ;
    div{
        p{
            margin-top: 10px;
            text-align: center;
        }
        .RESTAURANTS{
            font-size: 1.2rem;
        }
        color: black;
        background: #ac70163d;
        border-radius: 10px;
        box-shadow: 0px 1px 10px rgba(155, 143, 143, 0.2);
        transition: all 400ms ease;
        &:hover{
            box-shadow: 5px 5px 20px rgba(247, 239, 239, 0.6);
            transform: translatey(-5%);
            
        }
    }
}
/*footer paginas chicas*/
