*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #b99d9d;
    color: #ffffff;
    background-image: url(../img/marmolDEF.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    font-size: 4rem;
}
main{
    background-image: url(../img/—Pngtree—black\ gold\ mandala\ print\ background_1322528.png);
    background-size: cover;
}