.ini{
    display: flex;
    flex-direction: column;
    align-items: center;
    h1{
        color: rgb(0, 0, 0);
    }
}
.forme{
    width: 400px;
    background-color: #24303c;
    border-radius: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    padding: 30px;
    box-shadow: 7px 10px 30px #000;
    margin-top: 50px;
    margin-bottom: 200px;
    h4{
        text-align: center;
        font-size: 22px;
        margin-bottom: 20px;
    }
    .controles{
        width: 100%;
        background-color: #24303c;
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 19px;
        border: 1px solid #1f53c5;
        font-size: 18px;
        color: white;
    }
    p{
        height: 20px;
        text-align: center;
        font-size: 14px;
        /*altura de separacion de los terminos*/
        line-height: 20px;
        margin-bottom: 10px;
    }
    a{
        color: white;
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
    }
    .botoness{
        width: 100%;
        background: #1f53c5;
        border: none;
        padding: 13px;
        color: white;
        margin: 16px 0;
        font-size: 18px;
    }
}