.margin{
    margin-top: 40px;
    .modoft{
        display: flex;
        align-items: center;
        img{
            border-radius: 14px;
        }
    }
    .titulos{
        color: #fff;
    }
    .modo{
        margin: 10px;
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    border-radius: 6px;
    cursor: default;
    .menumodo{
        line-height: 20px;
    }
    }
    .bajo{
        margin-bottom: 50px;
    }
}
.titulos{
    color: rgb(255, 255, 255);
    &:hover{
        transform: skew(5deg, 5deg);
    }
}
    .modoft1{
        margin-top: 0;
    }
    .modo{
    margin: 30px;
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    border-radius: 6px;
    cursor: default;
    color: black;
    .menumodo{
        line-height: 20px;
        .elemento{
            transition: all 400ms ease;
            &:hover{
            transform: translatey(5%);
            background-color: #5063b9be;
            border: 8px;
            }
        }
    }
    }
    .flex{
        display: flex;
        justify-content: space-around;
        .flex2{
            display: flex;
        }
    }


