@media screen and (max-width:750px){
    body{
        width: 100%;
    }
    .main2{
        background-image: url(../img/media.jpg);
        background-size: cover;
    }
    ul{
        display: flex;
        flex-wrap: wrap;
        li{
            padding: 5px;
        }
    }
    button{
        border-radius: 4px;
        font-size: 6px;
        padding: 2px;
        span{
            padding: 5px 10px;
            border-radius: 3px;
        }
    }
    .header{
        font-size: 75%;
        .logoo{
            width: 100px;
            height: 80px;
        }
    }
    h1{
        font-size: 2rem;
    }
    .contenido_principal1{
        display: flex;
        flex-direction: column;
        .conte1{
            margin-bottom: 10px ;
            .fotos{
                width: 320px;
                height: 200px;
            }
        }
        .conte_titulo{
            display: flex;
            flex-direction: column;
            justify-content: none;
            
            .titu2{
                margin-top: 20px;
                text-align: center;
                font-size: 0.7rem;
                margin-bottom: 20px;
                .tamaño{
                    p{
                        font-size: 10px;
                    }
                }
                
            }
        }
    } 
    h2{
        margin-top: 50px;
    }
    .contenidosegundo{
        display: flex;
        flex-direction: column;
        div{
            margin-bottom: 20px;
            .imgantesahora{
                width: 150px;
            }
        }
    }
    .antes{
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        align-items: center;
        justify-content: center;
        .antesft{
            justify-content: center;
            margin-right: 0px;
            margin-bottom: 30px;
            width: 222px;
        }
    }

    .ahora{
        display: flex;
        flex-direction: column-reverse;
        .despuesft{
            margin: 0;
            width: 222px;
        }
    }
    .boton-1{
        align-items: center;
        margin-top: 15px;
        margin-bottom: 10px;
        justify-content: space-around;
        .carac-bt{
            
            margin-left: 0px;
        }
    }
    /*Footer*/
    footer{
        div{
            P{
                font-size: 10px;
                line-height: 10px;
            }
            .RESTAURANTS{
                font-size: 0.7rem;
            }
        }
        
    }
    /*MENU*/
    h2{
        text-align: center;
    }
    .entrad{
        .tarjetacomi{
            margin-top: 33px;
            .altoft{
                height: 166px;
                width: 250px;
            }
        }
    }
    /*carrito*/
    .compra{
        margin-top: 0px;
        flex-direction: column;
    }
    .compra{
        .conteflex{
            border: 1px solid;
            .imgcomi{
                width: 150px;
                height: 100px;
                border-radius: 10px;
                
            }
        }
    }
    

}