@media screen and (max-width:750px){
    body{
        width: 100%;
    }
    .main{
        background-image: url(../img/pared_vuelta.png);
        background-size: cover;
    }
    .main2{
        background-image: url(../img/pared.webp);
    }
    ul{
        display: flex;
        flex-wrap: wrap;
        li{
            padding: 5px;
        }
    }
    button{
        border-radius: 4px;
        font-size: 6px;
        padding: 2px;
        span{
            padding: 5px 10px;
            border-radius: 3px;
        }
    }
    .header{
        font-size: 75%;
        .logoo{
            width: 50px;
            height: 30px;
        }
    }
    h1{
        font-size: 2rem;
    }
    .contenido_principal1{
        display: flex;
        flex-direction: column;
        .conte1{
            margin-bottom: 10px ;
            .fotos{
                width: 325px;
                height: 200px;
            }
        }
        .conte_titulo{
            display: flex;
            flex-direction: column;
            font-size: 70% ;
            justify-content: none;
            background: linear-gradient(rgba(0, 0, 0, 0.24),rgba(0, 0, 0, 0.63));
            .titu2{
                margin-top: 20px;
                text-align: center;
                font-size: 0.7rem;
                margin-bottom: 20px;
            }
        }
    }
    .boton-1{
        align-items: center;
        margin-top: 15px;
        margin-bottom: 10px;
        justify-content: space-around;
        .carac-bt{
            
            margin-left: 0px;
        }
    }
    /*Footer*/
    footer{
        div{
            P{
                font-size: 10px;
                line-height: 10px;
            }
            .RESTAURANTS{
                font-size: 0.7rem;
            }
        }
        
    }
    /*MENU*/
    h2{
        text-align: center;
    }
    .modoft{
        img{
            padding-left: 60px;
        }
    }
}